<!-- templates/register.html -->

{% extends "base.html" %}

{% block title %}Authenticate{% endblock %}

{% block content %}
    <div class="my-center-container">
        <div class="my-container">
            <h2 class="text-center text-white">Password</h2>
            <form method="post" action="{% url 'complete_login_with_password' %}" class="text-center">
                {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" name="email" class="form-control" value="{{ email }}">
                    <input type="password" name="password" class="form-control"  placeholder="Enter your password" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}