<!-- templates/register.html -->

{% extends "base.html" %}

{% block title %}LOV3LY{% endblock %}

{% block content %}
    <div class="my-container" style="min-width: 70%; max-width: 95%;">
        {% if not in_relationship %}
            <p class="text-white">You are not in a relationship.</p>
        {% else %}

            {% for partner in partners %}
                <h1 class="text-white">{{ partner.user.first_name }}
                    {% if not partner.user.profile.online %}
                        <span class="badge bg-danger text-white">Offline</span>
                    {% else %}
                        <span class="badge bg-success text-white" style="font-size: 12px">Online</span>
                    {% endif %}
                </h1>
            {% endfor %}
            {% if admitted %}
                {% for participant in relationship.participants.all %}
                    {% if participant.photo %}
                        <div class="bottom-fixed {% if participant.photo_position == 'left' %}left-fixed{% else %}right-fixed{% endif %}">
                            <img src="{{ participant.photo.url }}" alt="{{ participant.user.first_name }}" class="img-fluid">
                        </div>
                    {% endif %}
                {% endfor %}
                <hr style="border-color: #405e55">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <p class="text-white" style="font-family: sans-serif; font-size: 24px; letter-spacing: 7px; line-height: 1;">In Love for <span id="age">Loading...</span></p>
                        </div>
                        <div class="col-12 col-lg-8">
                            <div style="overflow-y: auto; max-height: 210px;">
                                <div class="list-group" style="border-radius: 0;">
                                    <a class="list-group-item item">Item 1</a>
                                    <a class="list-group-item item">Item 2</a>
                                    <a class="list-group-item item">Item 3</a>
                                    <a class="list-group-item item">Item 4</a>
                                    <a class="list-group-item item">Item 5</a>
                                    <a class="list-group-item item">Item 6</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <style>
        .bottom-fixed {
            position: fixed;
            bottom: 0;
            width: 17%; /* Adjust as needed */
            min-width: 200px;
            height: auto;
            z-index: 1000;
        }

        .left-fixed {
            left: 0;
        }

        .right-fixed {
            right: 0;
        }

        @media (max-width: 768px) {
            .bottom-fixed {
                width: 200px; /* Adjust for smaller screens */
            }
        }

        .bottom-fixed img{
            -webkit-filter: drop-shadow(2px 2px 0 white)
            drop-shadow(-2px 2px 0 white)
            drop-shadow(2px -2px 0 white)
            drop-shadow(-2px -2px 0 white);

            filter: drop-shadow(2px 2px 0 white)
            drop-shadow(-2px 2px 0 white)
            drop-shadow(2px -2px 0 white)
            drop-shadow(-2px -2px 0 white);
        }

        {# Transparent background no border on hover add border #}
        .item {
            background-color: transparent;
            border: none;
            border-left: 1px solid #405e55;
            color: white;
        }

        .item:hover {
            background-color: #405e55;
            color: white;
            text-decoration: none;
        }
    </style>
    <script>
        const age = document.getElementById('age');
        const start = new Date('{{ user.participation.relationship.since|date:"c" }}');
        const wrap_number = ((num) => {
            return "<span style='font-size: 36px; color: cornflowerblue; letter-spacing: normal;'>" + num + "</span>";
        });
        setInterval(() => {
            const now = new Date();
            const diff = now - start;
            const years = Math.floor(diff / (1000 * 60 * 60 * 24 * 365));
            const diff2 = diff % (1000 * 60 * 60 * 24 * 365);
            const months = Math.floor(diff2 / (1000 * 60 * 60 * 24 * 30));
            const diff3 = diff2 % (1000 * 60 * 60 * 24 * 30);
            const days = Math.floor(diff3 / (1000 * 60 * 60 * 24));
            const diff4 = diff3 % (1000 * 60 * 60 * 24);
            const hours = Math.floor(diff4 / (1000 * 60 * 60));
            const diff5 = diff4 % (1000 * 60 * 60);
            const minutes = Math.floor(diff5 / (1000 * 60));
            const diff6 = diff5 % (1000 * 60);
            const seconds = Math.floor(diff6 / 1000);
            const milliseconds = diff6 % 1000;
            age.innerHTML = "<br>"
            if (years > 0) {
                age.innerHTML += wrap_number(years) + " years<br>";
            }
            if (months > 0) {
                age.innerHTML += wrap_number(months) + " months<br>";
            }
            age.innerHTML += wrap_number(days) + " days<br>";
            age.innerHTML += wrap_number(hours) + " hours<br>";
            age.innerHTML += wrap_number(minutes) + " minutes<br>";
            age.innerHTML += wrap_number(seconds) + " seconds.";
        }, 50);
    </script>
{% endblock %}